<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <title><%= title %></title>
</head>
<body>
  <div class="jumbotron">
    <h1>Hello, Email!</h1>
  </div>
  <form action="/users/search" method="post" class="form-inline">

    <b>You want to find name!</b><input type="text" name="s_name" value="<%= datas.name %>"  class="form-control">
      <input type="submit" value="查询"class="btn btn-primary">
  </form>
  <a href="/users/add">添加用户</a>
<table class="table table-hover">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>发件人</th>
        <th>收件人</th>
        <th>内容</th>
        <th>标题</th>
        <th>发送日期</th>
        <th>执行操作</th>
    </tr>
    <% for(var i = 0; i < datas.length; i++) {%>
        <tr>
            <td><%= datas[i].id %></td>
            <td><%= datas[i].name %></td>
            <td><%= datas[i].email_user %></td>
            <td><%= datas[i].email_touser %></td>
            <td><%= datas[i].content %></td>
            <td><%= datas[i].title %></td>
            <td><%= datas[i].to_date %></td>
            <td>
              <a href="/users/del/<%= datas[i].id %>">删除用户</a>
                <a href="/users/toUpdate/<%= datas[i].id %>">修改用户</a></td>
        </tr>
    <% } %>
</table>

      <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
      <script src="/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
